@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');

*{
    font-family: 'Josefin Sans', sans-serif;
   
}

.item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
input{
    
}
button{
    padding:0 20px;
    border-radius: 10px;
    background-color: rgb(56, 56, 56);
    color: white;
}

.item button{
    padding: 0 20px;
}
.just{
    display: flex;
    justify-content: space-evenly;
}

.RootTool{
    display: flex; 
    justify-content: space-evenly;
}
.DivisionToCalendar{   
    display:flex;
    justify-content: flex-end;
    align-items:flex-end;
    word-break: break-all;
    overflow-wrap: break-word;
}
.List{
    word-break: break-all;
    width:70%;
    text-align: center;
}
.Add{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.WindowNote{
    background-image: url("./img/NOTE.png");
    background-size: 100% 110%;
}
.CalendarGrid{
    padding: 0 0 60px 0;
    border: 1px solid black;
}
.CalendarGridMiddle{
    display: grid;
    grid-template-columns: 2fr 2fr 2fr 2fr 2fr 2fr;
    grid-template-rows: 2fr 2fr 2fr 2fr;
}
.CalendarGridChild{
    
}
.CalendarRoot{
    width:50vw;
}
.CalendarActualDate{
    width:150px;

}
.CalendarTableRoot{
    border: 2px solid black;
    height: 50vh;
    width: 50vw;
    margin-top: 10vh;
    border-radius: 20px;
}
.exitTable{
    position: relative;
    bottom: 0;
    text-align: center;
    padding:0 20px;
    border-radius: 10px;
    margin-top: 10px;
    background-color: rgb(45, 45, 45);
    color: white;
}
footer{   
    width: 100%;
    text-align: center;
    margin-top:200px; 
    border-top: 2px solid black;
    padding:20px 0px;
}
@media screen and (max-width:1400px){
    .RootTool{
        flex-direction: column;
        align-items: center;
    }
    .CalendarRoot{
        margin-top: 50px;
        width:700px;
    }
    
}